@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  /* Primary Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 44%);
  --white: hsl(0, 0%, 100%);

  background-color: var(--cream);
  color: var(--dark-grayish-blue);

  --main-width: 45rem;
  --main-height: 30rem;
  /* --main-height: fit-content; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
p {
  margin-bottom: 1.75rem;
}

h1 {
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

h2 {
  color: var(--very-dark-blue);
}

p {
  font-size: 1rem;
  line-height: 1.75;
}

img {
  display: block;
}

.product-image {
  width: 100%;
  object-fit: cover;
}

h2,
span.price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2.5rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 36%, 27%);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: var(--main-width);
  margin: auto;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.image-container,
.product-details {
  width: 50%;
}

.image-container {
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
}

.image-container.mobile {
  display: none;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.discount-price-regular-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  display: block;
  margin-right: 1rem;
  color: var(--dark-cyan);
}

.icon-cart {
  margin-left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 375px) {
  body {
    padding: 0.75rem;
  }

  h1,
  h2,
  p {
    margin-bottom: 0.75rem;
  }

  h2,
  span.price {
    font-size: 2rem;
  }

  .container {
    width: 100%;
    flex-direction: column;
    /* margin: 0; */
  }

  .image-container,
  .product-details {
    width: 100%;
  }

  .image-container.mobile {
    display: block;
    height: calc(var(--main-height) * (2 / 3));
  }

  .image-container.desktop {
    display: none;
  }
}
